
# Node.js dependencies
node_modules/
yarn.lock/
app/yarn.lock/
app/package-lock.json
app/node_modules/
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/.pnp/
app/.pnp.js

# Expo specific files
app/.expo/
app/.expo-shared/

# Build and output directories
app/dist/
app/build/
app/web-build/
app/android/
app/ios/

# Metro bundler cache
app/metro-cache/
app/.cache/

# Logs
app/*.log
app/*.log.*

# Environment variables and secrets
app/.env
app/.env.local
app/.env.development
app/.env.production
app/.env.test
app/.env.*.local

# Editor & OS specific files
app/.vscode/
app/.idea/
app/.DS_Store
app/Thumbs.db

# Expo SQLite database files
app/.sqlite

# TypeScript
app/*.tsbuildinfo