@tailwind base;
    @tailwind components;
    @tailwind utilities;

    body {
      background-color: transparent;
    }

    .animate-spin-slow {
      animation: spin 3s linear infinite;
    }

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .brightness-75 {
      filter: brightness(75%);
    }

	.custom-text-shadow {
	  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
